@font-face {
  font-family: 'Bitcount Prop Single';
  src: url('@/assets/fonts/bitcount/BitcountPropSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf')
    format('truetype');
  font-weight: 100 900; // rango de pesos (variable font)
  font-style: normal;
  font-display: swap;
}
